
/* global ------------------------------------------------------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}
section{
    scroll-snap-align: start;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 3rem;
    top: 0;
    z-index: 10000;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 10rem;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #BF3530;
    font-weight: bold;
}

table{
    border-collapse: collapse;
    border: 1px solid #BF3530;
}
tr{
    background-color: #dddddd;
}
tr:nth-child(even){
    background-color: #ffffff;
}
th{
    text-align: left;
    background-color: #BF3530;
    font-size: 1.2rem;
    font-weight: normal;
    color: #ffffff;
    padding: 5px 10px;
    width: 300px;
}
td{
    text-align: left;
    padding: 2px 10px;
    width: 300px;
    font-size: 1.2rem;
}
#corpo button{
    width: 30px;
    height: 30px;
    background: none;
    background-image: url('assets/trash.png');
    background-size: contain; 
    border: none;
    cursor: pointer;
}
.delete{
    text-align: center;
}
input{
    width: 370px;
    padding: 10px 0px;
    font-size: 1rem;
    border: 1px #BF3530 solid;
    outline: none;
    text-align: center;
}
#butao{
    font-weight: bold;
    color: #ffffff;
    background-color:#4E8864 ;
    border: none;
    cursor: pointer;
}
.container{
    width: 100%;
    height: 100%;
    /* background: linear-gradient(#fffcf4 30%,#fffcf48f);  */
    background: #fffcf4b4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.model{
    width: 100vw;
    height: 100vh;
    background: #fffcf4;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    font-size: 2.2rem;
    padding: 50px;
}

/* home ------------------------------------------------------------------------------------------------------------ */

#home{
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/247786/pexels-photo-247786.jpeg?cs=srgb&dl=pexels-pixabay-247786.jpg&fm=jpg');
    background-position: center;
    background-size: cover;
    user-select: none;
}
#container{
    width: 100%;
    height: 100%;
    backdrop-filter: grayscale(100%);
    background: linear-gradient(#fffcf4 30%,#fffcf481);
    display: flex;
}
#intro{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#title{
    font-size: 4rem;
    font-weight: bold;
}
#nunca{
    color: #4E8864;
}
#morre{
    color: #BF3530;
}
#img{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
}
#img img{
    width: 50rem;
}
.descricao{
    font-size: 1.5rem;
}

/* atendimentos ------------------------------------------------------------------------------------------------------------ */

#atendimentos{
    background-image: url('assets/wave.svg');
}
#agendar{
    font-size: 1.2rem;
    padding: 5px 10px;
    background-color: #BF3530;
    color: #ffffff;
}
#cadastro{
    width: 1500px;
}
#cadastro div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* Pacientes ------------------------------------------------------------------------------------------------------------ */

#pacientes{
    background-image: url('assets/wave\ \(1\).svg');
}

/* Medicos ------------------------------------------------------------------------------------------------------------ */

#medicos{
    background-image: url('assets/wave\ \(2\).svg');
}

/* Especialidades ------------------------------------------------------------------------------------------------------------ */

#especialidades{
    background-image: url('assets/wave\ \(3\).svg');
}