*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #f5e9ee;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    padding: 50px;
    justify-content: space-evenly;
    border: 3px solid #ff1749;
    border-radius: 10px;
    align-items: center;
}
.title{
    font-size: 2rem;
    color: #ff1749;
}
input{
    padding: 8px; 
    width: 200px;  
}

button{
    padding: 10px;
    width: 200px;
    background-color: #ff1749;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
input{
    border: 2px solid #ff1749;
    border-radius: 5px;
}
#perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid #ff1749;
    padding: 40px 100px;
    border-radius: 10px;
}
#sair{
    background: none;
    margin: 5px;
    border: 2px solid #ff1749;
    color: #ff1749;
}
#mainHome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.disabled{
    border: #a0a0a0 2px solid;
}